
/*
.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#myvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
*/

/*GENERAL CSS*/

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



html, body {
  height: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}



a {
  text-decoration: none;
  color: inherit;
}
/*Top Navigation*/

.logo__name {
  text-align: center;
  margin: 0.5rem 2rem 1rem 2rem;
  font-size: 4.5rem;
  letter-spacing: unset;
}

.top__bar {
  display: block;
  width: 100%;
  height: fit-content;
  color: black;
  position: fixed;
  z-index: 1;
}

.menu__bar {
  display: flex;
  height: fit-content;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
}

li.menu__item {
  padding: 0.5rem 0rem;
  margin: 0rem 2rem;
  list-style-type: none;
  font-size: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

li.menu__item:hover {
  opacity: 0.7;
  color: black;
  border-bottom: 1px groove black;
}

li.menu__item.insta:hover {
  opacity: 0.8;
  border: none;
  color: #96698C;
}

img.instagram {
  height: 21px;
  position: relative;
  top: 2px;
}
/*About Section*/

.about__body {
  width: 100%;
  padding-top: 9rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.about__body.second {
  padding-top: 0;
}

.second .about__item {
  text-align: center;
}

.about__item {
  padding: 2rem 1rem;
  width: 500px;
  margin: auto;
  text-align: justify;
  font-weight: 300;
}

.about__contact {
  text-align: center;
  background: black;
  color: white;
  width: 280px;
  border-radius: 50%;
  margin: auto;
  height: 280px;
  padding: 4rem !important;
  font-weight: 300;
}

.about__item.about__contact:hover {
  transform: scale(1.1);
}

.about__item a:hover {
  opacity: 0.4;
}

img.about__image {
  width: 100%;
  object-fit: contain;
  border-radius: 55%;
}

img.festival-logo {
  height: 150px;
}

/*Gallery Photography*/

.gallery__wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  padding-top: 10rem;
}

.gallery {
width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.gallery__item {
  padding: 2rem 0rem 1rem;
  margin: auto;
  position: relative;
}

.shoot__item {
  padding: 3rem 1rem 1rem 1rem;
  margin: auto;
  position: relative;
}

img.gallery__img {
  width: 460px;
}

.gallery__item h1 {
  position: relative;
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  text-align: -webkit-left;
  font-weight: 300;
}

.gallery__item:hover {
  transition: 0.3s ease-in;
}

.photo_text {
  font-weight: 300;
}

img.instagram:hover {
  transform: scale(1.5);
}

.still-image {
	width: 480px;
}

/*With Simple Caption*/

@media (min-width: 981px) {
  .gallery__item {
    position: relative;
  }

  .gallery__item .photo_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 2s ease;
    text-align: center;
    width: 100%;
  }

  .gallery__item .photo_text h1 {
    margin: 0;
    color: white;
  }

  .gallery__item:hover .photo_text {
    opacity: 1;
  }

  .gallery__item:hover img {
    -webkit-filter: opacity(0.4);
  }
}

/*FOOTER*/

.backtop {
  position: relative;
  text-align: right;
  padding: 0rem 2rem;
  scroll-behavior: smooth;
}

.backtop img {
  width: 50px;
}

.footer {
  padding: 20px 27px;
  position: static;
  bottom: 0;
  right: 0;
  color: black;
  font-size: 11px;
  text-align: end;
}


/*RESPONSIVENESS*/

@media (max-width: 981px) {
  .logo__name {
    font-size: 3.5rem;
  }

  li.menu__item {
    font-size: 36px;
  }

  img.instagram {
    height: 31px;
  }

  .about__content {
    width: 600px;
    font-size: 24px;
  }

  .gallery {
    flex-direction: column;
  }

  .about__contact {
    background-color: black;
    font-size: 24px;
    color: white;
    width: 480px;
    border-radius: 50%;
    margin-bottom: 60px;
    height: 480px;
    padding: 6rem !important;
    box-shadow: 3px 3px 5px 6px #ccc;
  }

  .about__item.about__contact:hover {
    transform: scale(1);
  }
  h1.photo_text {
    font-size: 23px;
}
}

@media (max-width: 981px) {
  .about__body {
    flex-direction: column;
  }

  .about__item {
    text-align: center;
    padding: 2rem;
  }
}

@media (min-width: 982px) {
		.logo__name__homepage {
			font-size: 7.5rem;
			letter-spacing: 1rem;
	}	
}


/*=== FADE IN LEFT ===*/

@media (min-width: 981px) {
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.two {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.9s;
}


.three {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 1.1s;
}

.four {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 1.3s;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
}
